@page "/orders/details"
@using Microsoft.EntityFrameworkCore
@using DataAcess2
@inject IDbContextFactory<SengWebProject.Data.SengWebProjectContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Details</PageTitle>

<h1>Details</h1>

<div>
    <h2>Order</h2>
    <hr />
    @if (order is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">CustomerID</dt>
            <dd class="col-sm-10">@order.CustomerID</dd>
            <dt class="col-sm-2">EmployeeID</dt>
            <dd class="col-sm-10">@order.EmployeeID</dd>
            <dt class="col-sm-2">OrderDate</dt>
            <dd class="col-sm-10">@order.OrderDate</dd>
            <dt class="col-sm-2">TotalAmount</dt>
            <dd class="col-sm-10">@order.TotalAmount</dd>
            <dt class="col-sm-2">LastModified</dt>
            <dd class="col-sm-10">@order.LastModified</dd>
        </dl>
        <div>
            <a href="@($"/orders/edit?orderid={order.OrderID}")">Edit</a> |
            <a href="@($"/orders")">Back to List</a>
        </div>
    }
</div>

@code {
    private Order? order;

    [SupplyParameterFromQuery]
    private int OrderID { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        order = await context.Orders.FirstOrDefaultAsync(m => m.OrderID == OrderID);

        if (order is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
